<a href="https://colab.research.google.com/github/Pranay2638/NumpyProject/blob/main/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

data = np.genfromtxt('Advertising.csv',delimiter = ',', skip_header = 1)

print(data.shape)
print(data[:5])

(200, 6)
[[  1.  230.1  37.8  69.2  22.1   nan]
 [  2.   44.5  10.5  45.1  10.4   nan]
 [  3.   17.2  45.9  69.3   9.3   nan]
 [  4.  151.5  41.3  58.5  18.5   nan]
 [  5.  180.8  10.8  58.4  12.9   nan]]

In [ ]:
import pandas as pd
df = pd.read_csv('Advertising.csv')
df

     Unnamed: 0     TV  Radio  Newspaper  Sales channel
0             1  230.1   37.8       69.2   22.1  Visual
1             2   44.5   10.5       45.1   10.4   Print
2             3   17.2   45.9       69.3    9.3   Print
3             4  151.5   41.3       58.5   18.5  Visual
4             5  180.8   10.8       58.4   12.9  Visual
..          ...    ...    ...        ...    ...     ...
195         196   38.2    3.7       13.8    7.6  Visual
196         197   94.2    4.9        8.1    9.7  Visual
197         198  177.0    9.3        6.4   12.8  Visual
198         199  283.6   42.0       66.2   25.5  Visual
199         200  232.1    8.6        8.7   13.4  Visual

[200 rows x 6 columns]

In [ ]:
# Find the mean, median, and standard deviation of the Sales column.
sales = data[:,4]
mean = np.mean(sales)
print(mean)

median = np.median(sales)
print(median)

sd = np.std(sales)
print(sd)

14.0225
12.9
5.204396578855228

In [ ]:
# Which advertising channel (TV, Radio, Newspaper) has the highest average spending?
tv = data[:,1]
tv_mean = np.mean(tv)
radio = data[:,2]
radio_mean = np.mean(radio)
newspaper = data[:,3]
newspaper_mean = np.nanmean(newspaper)

if tv_mean > radio_mean and tv_mean > newspaper_mean:
  print("tv has higest average spending",tv_mean)
elif radio_mean > tv_mean and radio_mean > newspaper_mean:
  print("radio has highest average spending",radio_mean)
else:
  print("Newspaper has highest average spending",newspaper_mean)

Newspaper has highest average spending 30.610552763819097

In [ ]:
# Count how many campaigns have Sales greater than 20.
sales_count = data[:,4]
mask = sales_count > 20
print(data[mask])
print(np.sum(mask))

[[  1.  230.1  37.8  69.2  22.1   nan]
 [ 16.  195.4  47.7  52.9  22.4   nan]
 [ 18.  281.4  39.6  55.8  24.4   nan]
 [ 31.  292.9  28.3  43.2  21.4   nan]
 [ 37.  266.9  43.8   5.   25.4   nan]
 [ 40.  228.   37.7  32.   21.5   nan]
 [ 43.  293.6  27.7   1.8  20.7   nan]
 [ 48.  239.9  41.5  18.5  23.2   nan]
 [ 53.  216.4  41.7  39.6  22.6   nan]
 [ 54.  182.6  46.2  58.7  21.2   nan]
 [ 55.  262.7  28.8  15.9  20.2   nan]
 [ 56.  198.9  49.4  60.   23.7   nan]
 [ 59.  210.8  49.6  37.7  23.8   nan]
 [ 62.  261.3  42.7  54.7  24.2   nan]
 [ 70.  216.8  43.9  27.2  22.3   nan]
 [ 85.  213.5  43.   33.8  21.7   nan]
 [ 94.  250.9  36.5  72.3  22.2   nan]
 [ 99.  289.7  42.3  51.2  25.4   nan]
 [102.  296.4  36.3 100.9  23.8   nan]
 [105.  238.2  34.3   5.3  20.7   nan]
 [112.  241.7  38.   23.2  21.8   nan]
 [129.  220.3  49.    3.2  24.7   nan]
 [138.  273.7  28.9  59.7  20.8   nan]
 [140.  184.9  43.9   1.7  20.7   nan]
 [143.  220.5  33.2  37.9  20.1   nan]
 [148.  243.2  49.   44.3  25.4   nan]
 [176.  276.9  48.9  41.8  27.    nan]
 [177.  248.4  30.2  20.3  20.2   nan]
 [184.  287.6  43.   71.8  26.2   nan]
 [186.  205.   45.1  19.6  22.6   nan]
 [199.  283.6  42.   66.2  25.5   nan]]
31

In [ ]:
# Extract all rows where:

# TV > 200

# Sales > 15

# Return the number of such campaigns.

tv = data[:,1]
sales = data[:,4]

mask1 = tv > 200
mask2 = sales > 15
ans = mask1 & mask2
print(data[ans])
print(np.sum(ans))
# print(np.array([ans]))

[[  1.  230.1  37.8  69.2  22.1   nan]
 [ 12.  214.7  24.    4.   17.4   nan]
 [ 15.  204.1  32.9  46.   19.    nan]
 [ 18.  281.4  39.6  55.8  24.4   nan]
 [ 21.  218.4  27.7  53.4  18.    nan]
 [ 24.  228.3  16.9  26.2  15.5   nan]
 [ 28.  240.1  16.7  22.9  15.9   nan]
 [ 29.  248.8  27.1  22.9  18.9   nan]
 [ 31.  292.9  28.3  43.2  21.4   nan]
 [ 34.  265.6  20.    0.3  17.4   nan]
 [ 37.  266.9  43.8   5.   25.4   nan]
 [ 40.  228.   37.7  32.   21.5   nan]
 [ 41.  202.5  22.3  31.6  16.6   nan]
 [ 43.  293.6  27.7   1.8  20.7   nan]
 [ 48.  239.9  41.5  18.5  23.2   nan]
 [ 53.  216.4  41.7  39.6  22.6   nan]
 [ 55.  262.7  28.8  15.9  20.2   nan]
 [ 59.  210.8  49.6  37.7  23.8   nan]
 [ 60.  210.7  29.5   9.3  18.4   nan]
 [ 62.  261.3  42.7  54.7  24.2   nan]
 [ 63.  239.3  15.5  27.3  15.7   nan]
 [ 69.  237.4  27.5  11.   18.9   nan]
 [ 70.  216.8  43.9  27.2  22.3   nan]
 [ 75.  213.4  24.6  13.1  17.    nan]
 [ 85.  213.5  43.   33.8  21.7   nan]
 [ 94.  250.9  36.5  72.3  22.2   nan]
 [ 99.  289.7  42.3  51.2  25.4   nan]
 [102.  296.4  36.3 100.9  23.8   nan]
 [105.  238.2  34.3   5.3  20.7   nan]
 [110.  255.4  26.9   5.5  19.8   nan]
 [112.  241.7  38.   23.2  21.8   nan]
 [114.  209.6  20.6  10.7  15.9   nan]
 [125.  229.5  32.3  74.2  19.7   nan]
 [129.  220.3  49.    3.2  24.7   nan]
 [134.  219.8  33.5  45.1  19.6   nan]
 [138.  273.7  28.9  59.7  20.8   nan]
 [143.  220.5  33.2  37.9  20.1   nan]
 [148.  243.2  49.   44.3  25.4   nan]
 [151.  280.7  13.9  37.   16.1   nan]
 [169.  215.4  23.6  57.6  17.1   nan]
 [176.  276.9  48.9  41.8  27.    nan]
 [177.  248.4  30.2  20.3  20.2   nan]
 [184.  287.6  43.   71.8  26.2   nan]
 [185.  253.8  21.3  30.   17.6   nan]
 [186.  205.   45.1  19.6  22.6   nan]
 [189.  286.   13.9   3.7  15.9   nan]
 [199.  283.6  42.   66.2  25.5   nan]]
47

In [ ]:
sales = data[:,4]
tv = data[:,1]
radio = data[:,2]
newspaper = data[:,3]
effeciency = sales / (tv + radio + newspaper)
idx = np.argsort(effeciency)
top5_idx = idx[-5:]
print(data[top5_idx])

[[ 68.    nan  14.5  10.2  13.4   nan]
 [149.   38.    nan  11.9  10.9   nan]
 [ 93.    nan  33.5  59.   19.4   nan]
 [109.    nan   0.4  25.6   5.3   nan]
 [ 78.  120.5   nan  14.2  14.2   nan]]

In [ ]:
# Calculate the correlation coefficient between:

# TV & Sales

# Radio & Sales

# Newspaper & Sales
tv = data[:,1]
sales = data[:,4]
radio = data[:,2]
newspaper = data[:,3]
mask = ~np.isnan(tv) & ~np.isnan(sales) & ~np.isnan(radio) & ~np.isnan(newspaper)
tv_clean = tv[mask]
sales_clean = sales[mask]
radio_clean = radio[mask]
newspaper_clean = newspaper[mask]
corr_tv_sales = np.corrcoef(tv_clean,sales_clean)[0,1]

corr_radio_sales = np.corrcoef(radio_clean,sales_clean)[0,1]

corr_newspaper_sales = np.corrcoef(newspaper_clean, sales_clean)[0,1]

corr = np.array([corr_tv_sales,corr_radio_sales,corr_newspaper_sales])

channels = np.array(["TV","Radio","Newspaper"])

idx = np.argmax(corr)

print(channels[idx] , "has the highest correlation with sales: ", corr[idx])

TV has the highest correlation with sales:  0.7786426254573999

In [ ]:
# Normalization challenge
# Normalize TV, Radio, and Newspaper columns using min-max normalization:
# (x - min) / (max - min)
# Return a new NumPy array with normalized values.

tv = data[:,1]
radio = data[:,2]
newspaper = data[:,3]

tv_min = np.nanmin(tv)
tv_max = np.nanmax(tv)
radio_min = np.nanmin(radio)
radio_max = np.nanmax(radio)
newspaper_min = np.nanmin(newspaper)
newspaper_max = np.nanmax(newspaper)

tv_norm = (tv - tv_min)/(tv_max - tv_min)
radio_norm = (radio - radio_min)/(radio_max - radio_min)
newspaper_norm = (newspaper - newspaper_min)/(newspaper_max - newspaper_min)

norm_val = np.column_stack([tv_norm,radio_norm,newspaper_norm])
norm_val

array([[0.77578627, 0.76209677, 0.60598065],
       [0.1481231 , 0.21169355, 0.39401935],
       [0.0557998 , 0.92540323, 0.60686016],
       [0.50997633, 0.83266129, 0.51187335],
       [0.60906324, 0.21774194, 0.51099384],
       [0.02705445, 0.9858871 , 0.65699208],
       [0.19208657, 0.66129032, 0.20404573],
       [0.4041258 , 0.39516129, 0.09938434],
       [0.02671627, 0.04233871, 0.00615655],
       [0.67331755, 0.05241935, 0.18381706],
       [0.2211701 , 0.11693548, 0.21020229],
       [0.72370646, 0.48387097, 0.03254178],
       [0.07811972, 0.70766129, 0.5769569 ],
       [0.32735881, 0.15322581, 0.06068602],
       [0.68785932, 0.66330645, 0.40193492],
       [0.65843761, 0.96169355, 0.46262093],
       [0.22691917, 0.73790323, 1.        ],
       [0.94927291, 0.7983871 , 0.48812665],
       [0.2316537 , 0.41330645, 0.15831135],
       [0.49577274, 0.48185484, 0.16534741],
       [0.73621914, 0.55846774, 0.46701847],
       [0.80047345, 0.10282258, 0.20404573],
       [0.04227257, 0.32056452, 0.43359719],
       [0.76969902, 0.34072581, 0.22779244],
       [0.20831924, 0.25403226, 0.15831135],
       [0.8867095 , 0.07056452, 0.16886544],
       [0.4808928 , 0.59072581, 0.10817942],
       [0.80960433, 0.33669355, 0.19876869],
       [0.83902604, 0.54637097, 0.19876869],
       [0.23638823, 0.32258065, 0.35620053],
       [0.98816368, 0.57056452, 0.37730871],
       [0.37943862, 0.35080645, 0.33685136],
       [0.32634427, 0.03024194, 0.26121372],
       [0.89584038, 0.40322581, 0.        ],
       [0.32127156, 0.02822581, 0.06244503],
       [0.98072371, 0.08266129, 0.07211961],
       [0.90023673, 0.88306452, 0.04133685],
       [0.25025364, 0.99596774, 0.39929639],
       [0.14338857, 0.53830645, 0.3060686 ],
       [0.76868448, 0.76008065, 0.27880387],
       [0.68244843, 0.44959677, 0.27528584],
       [0.59621238, 0.6733871 , 0.33773087],
       [0.99053094, 0.55846774, 0.01319261],
       [0.69732837, 0.16935484, 0.22955145],
       [0.08251606, 0.51814516, 0.37818821],
       [0.58978695, 0.45362903, 0.27440633],
       [0.30098072, 0.19959677, 0.31134565],
       [0.80892797, 0.83669355, 0.16007036],
       [0.76597903, 0.31854839, 0.43623571],
       [0.22387555, 0.2358871 , 0.32102023],
       [0.67331755, 0.0625    , 0.30167106],
       [0.33716605, 0.19354839, 0.02902375],
       [0.72945553, 0.84072581, 0.34564644],
       [0.61515049, 0.93145161, 0.51363237],
       [0.88603314, 0.58064516, 0.13720317],
       [0.67027393, 0.99596774, 0.52506596],
       [0.02231992, 0.56653226, 0.36147757],
       [0.4582347 , 0.38709677, 0.14335972],
       [0.71051742, 1.        , 0.3289358 ],
       [0.71017924, 0.59475806, 0.07915567],
       [0.17855935, 0.04032258, 0.18557608],
       [0.88129861, 0.8608871 , 0.47845207],
       [0.80689888, 0.3125    , 0.23746702],
       [0.3449442 , 0.59677419, 0.07124011],
       [0.44098749, 0.86290323, 0.25153914],
       [0.23097734, 0.1875    , 0.00527704],
       [0.10415962, 0.49596774, 0.01671064],
       [       nan, 0.29233871, 0.08707124],
       [0.80047345, 0.55443548, 0.0941073 ],
       [0.73080825, 0.88508065, 0.23658751],
       [0.67095029, 0.61693548, 0.33773087],
       [0.36895502, 0.28830645, 0.27616535],
       [0.08826513, 0.66532258,        nan],
       [0.43523842, 0.11491935, 0.27264732],
       [0.71931011, 0.49596774, 0.11257696],
       [0.05478526, 0.88104839, 0.78364116],
       [0.0906324 , 0.03225806, 0.17941953],
       [0.40514034,        nan, 0.12225154],
       [0.01589449, 0.60282258, 0.08003518],
       [0.38992222, 0.15524194, 0.2005277 ],
       [0.25600271, 0.53830645, 0.19349164],
       [0.80858979, 0.08266129, 0.32189974],
       [0.25228272, 0.40927419, 0.28320141],
       [0.22894826, 0.89717742, 0.31046614],
       [0.71964829, 0.86693548, 0.294635  ],
       [0.65099763, 0.37096774, 0.57519789],
       [0.25566452, 0.55443548, 0.13808267],
       [0.37199865, 0.81854839, 0.5532102 ],
       [0.2962462 , 0.5141129 , 0.64291996],
       [0.36895502, 0.96370968, 0.44942832],
       [0.45180927, 0.09879032, 0.07915567],
       [0.09435238, 0.03024194, 0.28759894],
       [       nan, 0.67540323, 0.51627089],
       [0.84612783, 0.7358871 , 0.63324538],
       [0.36083869, 0.28225806, 0.09322779],
       [0.54988164, 0.63709677, 0.46262093],
       [0.66587758, 0.07056452, 0.04925242],
       [0.62292864, 0.4233871 , 0.19085312],
       [0.9773419 , 0.85282258, 0.44766931],
       [0.45485289, 0.84072581, 0.40105541],
       [0.74974636, 0.08669355, 0.4353562 ],
       [1.        , 0.73185484, 0.88478452],
       [0.94521474, 0.20362903, 0.18557608],
       [0.63307406, 0.34677419, 0.15479332],
       [0.8031789 , 0.69153226, 0.04397537],
       [0.46398377, 0.93548387, 0.51627089],
       [0.08217788, 0.22177419, 0.2585752 ],
       [0.30334799, 0.00604839, 0.20140721],
       [       nan, 0.00806452, 0.22251539],
       [0.86134596, 0.54233871, 0.04573439],
       [0.7612445 , 0.16532258, 0.4942832 ],
       [0.81501522, 0.76612903, 0.20140721],
       [0.59181603, 0.31048387, 0.01846966],
       [0.70645925, 0.41532258, 0.09146878],
       [0.26208996, 0.94354839, 0.30079156],
       [0.25160636, 0.70564516, 0.46086192],
       [0.46838011, 0.28830645, 0.22251539],
       [0.25600271, 0.01612903, 0.12752858],
       [0.42272574, 0.74395161, 0.6939314 ],
       [0.06323977, 0.32258065, 0.19349164],
       [0.47548191, 0.54032258, 0.40369393],
       [0.06121069, 0.4375    , 0.44063325],
       [0.75515725, 0.0483871 , 0.13456464],
       [0.41393304, 0.69758065, 0.1064204 ],
       [0.77375719, 0.65120968, 0.64995602],
       [0.29252621, 0.23790323, 0.22515391],
       [0.02401082, 0.78427419, 0.44239226],
       [0.26885357, 0.        , 0.07827617],
       [0.74264457, 0.98790323, 0.02550572],
       [0.19918837, 0.24193548, 0.3764292 ],
       [0.        , 0.7983871 , 0.07387863],
       [0.89448766, 0.05846774, 0.37554969],
       [0.02603991, 0.5483871 , 0.01583113],
       [0.74095367, 0.67540323, 0.39401935],
       [0.12242137, 0.77822581, 0.57431838],
       [0.16097396, 0.94758065, 0.07211961],
       [0.08420697, 0.78629032, 0.07915567],
       [0.92323301, 0.58266129, 0.52242744],
       [0.14305039, 0.52217742, 0.17766051],
       [0.62292864, 0.88508065, 0.0123131 ],
       [0.24585729, 0.34274194, 0.11081794],
       [0.65268854, 0.71370968, 0.66226913],
       [0.74332093, 0.66935484, 0.33069481],
       [0.35136963, 0.11491935, 0.29991205],
       [0.32296246, 0.2983871 , 0.33948989],
       [0.4721001 , 0.03830645, 0.07651715],
       [0.80960433, 0.14717742, 0.07387863],
       [0.82008793, 0.98790323, 0.38698329],
       [0.12614136,        nan, 0.10202287],
       [0.14879946, 0.52016129, 0.17854002],
       [0.94690565, 0.28024194, 0.32277924],
       [0.40683125, 0.16935484, 0.42568162],
       [0.66587758, 0.46975806, 0.12225154],
       [0.57693608, 0.80040323, 0.3289358 ],
       [0.63273588, 0.42540323, 0.08091469],
       [0.01149814, 0.23387097, 0.0474934 ],
       [0.31518431, 0.87701613, 0.44151275],
       [0.50422726, 0.02620968, 0.21108179],
       [0.03719986, 0.74395161, 0.39489886],
       [0.44301657, 0.37096774, 0.30167106],
       [0.58099425, 0.36491935, 0.26737027],
       [0.2874535 , 0.72177419, 0.43095866],
       [0.63476496, 0.36491935, 0.22251539],
       [0.550558  , 0.74193548, 0.06244503],
       [0.39398039, 0.29637097, 0.04485488],
       [0.79066622, 0.06854839, 0.74318382],
       [0.05816706, 0.75806452, 0.18733509],
       [0.69699019, 0.10483871, 0.16798593],
       [0.72607372, 0.47580645, 0.50395778],
       [0.95908015, 0.21370968, 0.05364996],
       [0.16672303, 0.23387097, 0.15919085],
       [0.5539398 , 0.42137097, 0.41424802],
       [0.06391613, 0.40524194, 0.14687775],
       [0.56712885, 0.14314516, 0.10993843],
       [0.74974636, 0.06854839, 0.11257696],
       [0.93405479, 0.9858871 , 0.3649956 ],
       [0.83767332, 0.60887097, 0.1759015 ],
       [0.5732161 , 0.15725806, 0.30694811],
       [0.93337842, 0.04637097, 0.20580475],
       [0.55765979, 0.2016129 , 0.15215479],
       [0.52722354, 0.05241935, 0.0703606 ],
       [0.73655732, 0.10887097, 0.23834653],
       [0.18769023, 0.11491935, 0.2585752 ],
       [0.97024011, 0.86693548, 0.62884785],
       [0.85593507, 0.42943548, 0.26121372],
       [0.69090294, 0.90927419, 0.16974494],
       [0.46939466, 0.04233871, 0.23131047],
       [0.64389584, 0.57862903, 0.15743184],
       [0.96482922, 0.28024194, 0.02990325],
       [0.06087251, 0.24395161, 0.20316623],
       [0.13121407, 0.82862903, 0.04837291],
       [0.25295908, 0.21774194, 0.05013193],
       [0.0557998 , 0.08266129, 0.27528584],
       [       nan, 0.84677419, 0.02902375],
       [0.50388908, 0.71774194, 0.05013193],
       [0.12681772, 0.07459677, 0.11873351],
       [0.31619885, 0.09879032, 0.06860158],
       [0.59621238, 0.1875    , 0.05364996],
       [0.95671288, 0.84677419, 0.57959543],
       [0.78254988, 0.1733871 , 0.07387863]])

In [ ]:
# Find campaigns where Sales is more than 2 standard deviations above the mean.
# Return:
# Number of such campaigns
# Their Sales values

sales = data[:,4]
sales_std = np.nanstd(sales)

mask =  sales > np.nanmean(sales) + 2 * sales_std
outliers = sales[mask]

print(outliers)
print(np.sum(mask))

[25.4 25.4 24.7 25.4 27.  26.2 25.5]
7

In [ ]:
# Find campaigns where:

# TV spending is above average

# BUT Sales are below average

tv = data[:,1]
sales = data[:,4]

tv_mean = np.nanmean(tv)
sales_mean = np.nanmean(sales)

mask = (tv > tv_mean) & (sales < sales_mean)

print(np.sum(mask))

26

In [ ]:
# Compare:
# 1️⃣ Average Sales when both TV and Radio spending are high
# 2️⃣ Overall average Sales

tv = data[:,1]
radio = data[:,2]
tv_avg = np.nanmean(tv)
radio_avg = np.nanmean(radio)
sales = data[:,4]
avg_sales = (tv > tv_avg) & (radio > radio_avg)
print(sales[avg_sales])
np.nanmean(sales[avg_sales])

[22.1 18.5 17.4 19.  22.4 24.4 18.  18.9 21.4 25.4 21.5 17.1 20.7 23.2
 22.6 21.2 20.2 23.7 23.8 18.4 24.2 18.9 22.3 18.3 17.  21.7 22.2 16.9
 25.4 23.8 20.7 19.8 21.8 19.7 24.7 19.6 20.8 20.7 19.2 20.1 25.4 16.6
 19.  18.  17.1 27.  20.2 26.2 22.6 17.3 17.3 25.5]

np.float64(20.959615384615383)

Working on new dataset

In [2]:
import numpy as np
data = np.genfromtxt('batting_stats_ipl.csv',delimiter = ',',skip_header = 1)

In [3]:
import pandas as pd
df = pd.read_csv('batting_stats_ipl.csv')
df.head(10)

,Unnamed: 0,Batter,Batter Team(s),No. of Innings,Not Outs,Total Runs,Balls Faced,No. of Outs,Batting Average,Strike Rate,Balls Faced per Innings,Balls Faced per Wicket
0,0,A Ashish Reddy,Sunrisers Hyderabad/Deccan Chargers,22,8,266,181,14,19.000000,146.961326,8.227273,12.928571
1,1,A Badoni,Lucknow Super Giants,22,4,340,268,18,18.888889,126.865672,12.181818,14.888889
2,2,A Chandila,Rajasthan Royals,2,2,4,7,0,4.000000,57.142857,3.500000,inf
3,3,A Chopra,Kolkata Knight Riders,6,0,53,71,6,8.833333,74.647887,11.833333,11.833333
4,4,A Choudhary,Royal Challengers Bangalore,3,2,25,20,1,25.000000,125.000000,6.666667,20.000000
5,5,A Dananjaya,Mumbai Indians,1,1,4,5,0,4.000000,80.000000,5.000000,inf
6,6,A Flintoff,Chennai Super Kings,3,1,62,53,2,31.000000,116.981132,17.666667,26.500000
7,7,A Kumble,Royal Challengers Bangalore,15,12,35,47,3,11.666667,74.468085,3.133333,15.666667
8,8,A Manohar,Gujarat Titans,13,1,222,158,12,18.500000,140.506329,12.153846,13.166667
9,9,A Mishra,Delhi Daredevils/Sunrisers Hyderabad/Deccan Ch...,55,24,381,417,31,12.290323,91.366906,7.581818,13.451613

In [ ]:
print(data.shape)

(637, 12)

In [4]:
# Q1️⃣ Batting overview
# Compute:
# Mean, median, std of Runs
# Mean Strike Rate

runs = data[:,5]
strike_rate = data[:,9]
mean = np.nanmean(runs)
median = np.nanmedian(runs)
std = np.nanstd(runs)
mean_SR = np.nanmean(strike_rate)
print(mean,median,std,mean_SR)

471.2480376766091 73.0 996.7743004217333 105.13530324703298

In [5]:
# How many players have Runs greater than the average Runs?

runs = data[:,5]
avg_runs = np.nanmean(runs)
players = runs > avg_runs
print(np.sum(players))

136

In [6]:
# Count how many players satisfy both conditions:
# Innings ≥ 20
# AND
# Average ≥ 30

Innings = data[:,3]
average = data[:,8]

players = (Innings >= 20) & (average >=30)
print(np.sum(players))

44

In [9]:
# Which players score runs efficiently WITHOUT relying on boundaries?

runs = data[:,5]
balls_faced = data[:,6]
strike_rate = data[:,9]

runs_per_ball = runs / balls_faced

mask = (runs_per_ball >= np.median(runs_per_ball)) & (strike_rate >= np.median(strike_rate))

print(np.sum(mask))

319

In [18]:
runs = data[:,5]
strike_rate = data[:,9]

players = (runs > np.median(runs)) & (strike_rate > np.median(strike_rate))

print(np.sum(players))
print(runs[players])
print(strike_rate[players])

249
[ 266.  340.  222.  974.  178.  123. 5001.  120. 2069.  181.  148.  723.
 2191. 2039.  775.  401.  672. 4254.   87.  339. 1400.  173. 4348.  372.
  886.   87.  134.  220.  186.  388.   76.  124.  507.  935. 2871.  238.
 1395.  179.  187.  452.  177.  303.  182. 1309. 4875.  618.  538.  949.
  169.  181.  161. 1467.  137. 2660. 6310.  304.  375.  170. 1560. 1278.
 1322.  295.  115.   80.  924. 1771. 2385.  460.  152.  653. 1371. 4133.
 4172.  724.  663. 2717.  505.  508.  190. 2264.  577.  230.  833.  158.
   96. 1079. 2170.  409.  962.  199. 3214.  604.  172.  614. 1217.  543.
  259. 1962.  503.  417.  226. 3293. 1656. 4408. 1442.  116. 1460. 4053.
 1170. 1001.  365.  199. 2003.  320.  128.   81.  302.  106. 1079.  392.
 1017.  817.  126.  426. 2598. 1073. 2490.  956.  237. 1977.  177.  255.
  278.   84.  402. 3712. 1695. 1074. 1034.  167. 1417.  604.  788. 5082.
   97.  394.  117. 1679.  117.  149. 1226. 2545.  241.  415. 1546.  506.
  361.  422. 2711.  277.  500.  203.  218.  379.  269.   97. 1537. 2702.
  708.  342.  210. 2174.  600.  257.  270.  825.  302. 2642. 2048. 1797.
   83.  159. 6165.  725.  404.  326. 2759.  262.  530. 4941.  227.  442.
  136. 1439. 6573. 1079.   91.  368.  145.  423. 3195.   99. 2412. 5512.
  613.  241.  147.  528.  286. 1122.  196. 1045. 2432. 2334. 3796. 2674.
  102. 1481.  768.  868. 3835.  503.  144.  193.  321.   81.  764. 2750.
  139.  120.  418.  127.  676. 1148.  205.   75.  740.  127. 7122. 2702.
 1005.  956. 2754.   81.  378.  985. 1172. 3162. 2696.]
[146.961326  126.8656716 140.5063291 130.738255  118.6666667 125.5102041
 152.0985401 133.3333333 139.5144976 126.5734266 126.4957265 126.8421053
 175.28      128.6435331 131.5789474 113.2768362 117.2774869 123.3758701
 114.4736842 124.6323529 131.5789474 112.3376623 128.2217635 138.2899628
 138.6541471 129.8507463 122.9357798 115.7894737 144.1860465 128.0528053
 138.1818182 129.1666667 138.5245902 134.5323741 132.9782307 168.7943262
 126.2443439 142.0634921 152.0325203 162.0071685 125.5319149 135.2678571
 113.0434783 141.8201517 150.2774353 155.6675063 127.7909739 127.7254374
 113.4228188 164.5454545 142.4778761 125.3846154 148.9130435 138.325533
 140.6284823 116.9230769 119.047619  127.8195489 130.4347826 128.313253
 123.5514019 122.406639  116.1616162 135.5932203 141.9354839 124.3679775
 135.8974359 116.751269  172.7272727 138.641189  122.1925134 134.4502277
 124.5373134 112.5972006 122.5508318 159.3548387 120.5250597 168.7707641
 124.1830065 146.917586  142.1182266 126.3736264 139.2976589 116.1764706
 114.2857143 119.8888889 133.6206897 114.2458101 143.5820896 161.7886179
 149.0723562 132.7472527 123.7410072 139.2290249 142.3391813 160.1769912
 123.923445  123.5516373 141.6901408 136.7213115 173.8461538 146.6162066
 122.4852071 132.8511151 133.6422614 173.1343284 128.1826163 134.8303393
 124.0721103 134.9056604 151.4522822 123.6024845 126.3722397 114.6953405
 166.2337662 122.7272727 124.2798354 179.6610169 127.240566  116.3204748
 124.3276284 168.1069959 141.5730337 135.2380952 122.201317  131.3341493
 134.4492441 128.3221477 115.0485437 122.7950311 143.902439  138.5869565
 145.5497382 123.5294118 132.2368421 120.7154472 117.3822715 138.5806452
 143.8108484 127.480916  139.0578999 125.0517598 115.542522  136.6863905
 151.5625    128.3387622 127.173913  123.003663  144.4444444 152.0408163
 160.6815203 135.8782702 146.0606061 139.7306397 119.9379364 130.4123711
 126.6666667 138.8157895 121.0808397 145.7894737 122.8501229 130.1282051
 163.9097744 152.8225806 116.4502165 134.7222222 145.6872038 134.6959123
 120.2037351 120.4225352 112.2994652 115.7614483 124.4813278 146.0227273
 117.3913043 132.6366559 112.6865672 129.9557304 139.4145677 136.3429439
 113.6986301 112.7659574 130.836163  143.2806324 144.8028674 138.7234043
 150.1088139 137.1727749 119.1011236 130.8874172 134.3195266 170.
 121.4285714 119.3200663 127.755102  140.3120936 115.1898734 127.3356401
 133.0275229 125.5192878 144.2437923 112.5       132.3819978 137.5249501
 143.8967136 130.2702703 132.4324324 128.1553398 140.8866995 154.9723757
 120.9876543 160.0306279 128.6772487 120.2472952 138.641344  125.7761054
 117.2413793 120.7993475 145.1795841 128.2127031 137.4551971 130.6493506
 125.2173913 120.625     118.0147059 176.0869565 124.2276423 135.5347462
 141.8367347 113.2075472 178.6324786 118.6915888 117.9755672 115.7258065
 139.4557823 131.5789474 145.0980392 128.2828283 130.6788991 157.6429405
 133.8215712 130.4229195 127.618165  112.5       117.0278638 118.5318893
 149.4897959 143.2065217 129.7401347]

In [17]:
# Detect players where:
# Runs > mean(Runs) + 2 × std(Runs)

mask = runs > np.nanmean(runs) + 2 * np.nanstd(runs)
print(np.sum(mask))
print(runs[mask])
print(strike_rate[mask])

37
[5001. 4254. 4348. 2871. 4875. 2660. 6310. 4133. 4172. 2717. 3214. 3293.
 4408. 4053. 2598. 2490. 3712. 5082. 2545. 2711. 2702. 2642. 6165. 2759.
 4941. 6573. 3195. 5512. 3796. 2674. 3835. 2750. 7122. 2702. 2754. 3162.
 2696.]
[152.0985401 123.3758701 128.2217635 132.9782307 150.2774353 138.325533
 140.6284823 134.4502277 124.5373134 159.3548387 149.0723562 146.6162066
 132.8511151 134.8303393 122.201317  134.4492441 120.7154472 136.6863905
 135.8782702 121.0808397 134.6959123 129.9557304 130.836163  150.1088139
 130.8874172 127.755102  144.2437923 137.5249501 138.641344  125.7761054
 137.4551971 135.5347462 130.6788991 157.6429405 127.618165  143.2065217
 129.7401347]

In [26]:
# Find the top 5 players with highest efficiency using np.argsort.
idx = np.argsort(runs_per_ball)
top5_idx = idx[-5:][::-1]
print("runs per ball: ",runs_per_ball[top5_idx])
print("Runs: ",runs[top5_idx])
print("strike rate: ", strike_rate[top5_idx])

runs per ball:  [2.5        2.05263158 2.         1.79661017 1.78632479]
Runs:  [  5.  39.   4. 106. 418.]
strike rate:  [250.        205.2631579 200.        179.6610169 178.6324786]

In [28]:
# Which players faced more balls than average but still scored fewer runs than average?

balls_faced = data[:,6]
runs = data[:,5]

mask = (balls_faced > np.nanmean(balls_faced)) & (runs < np.nanmean(runs))
print(np.sum(mask))
print("runs: ", runs[mask])
print("Strike rate: ", strike_rate[mask])

3
runs:  [381. 390. 460.]
Strike rate:  [ 91.36690647 100.         116.751269  ]

In [32]:
# Min–max normalize:
# Runs
# Balls
# Strike Rate

runs = data[:,5]
balls_faced = data[:,6]
strike_rate = data[:,9]

norm_runs = (runs - np.nanmin(runs)) / (np.nanmax(runs) - np.nanmin(runs))
norm_balls_faced = (balls_faced - np.nanmin(balls_faced)) / (np.nanmax(balls_faced) - np.nanmin(balls_faced))
norm_strike_rate = (strike_rate - np.nanmin(strike_rate)) / (np.nanmax(strike_rate) - np.nanmin(strike_rate))

total_norm = np.column_stack((norm_runs,norm_balls_faced,norm_strike_rate))
print(total_norm)
total_norm.shape

[[3.73490593e-02 3.30335841e-02 5.87845304e-01]
 [4.77393990e-02 4.89998165e-02 5.07462686e-01]
 [5.61639989e-04 1.10111947e-03 2.28571429e-01]
 ...
 [1.40409997e-04 1.83519912e-04 2.00000000e-01]
 [3.78545352e-01 3.81170857e-01 5.18960539e-01]
 [1.64279697e-02 2.55092678e-02 3.34285714e-01]]

(637, 3)

In [35]:
# Compare average Runs for players where:
# Strike Rate > median(Strike Rate)
# AND
# Runs > median(Runs)

strike_rate = data[:,9]
runs = data[:,5]

mask = (strike_rate > np.nanmedian(strike_rate)) & (runs > np.nanmedian(runs))

filtered_avg_runs = np.nanmean(runs[mask])
overall_avg_runs = np.nanmean(runs)



print(filtered_avg_runs)
print(overall_avg_runs)

1113.5823293172691
471.2480376766091